/* 

#leftPage {
    width : 50%;
    height : 100%;
    
}

#rightPage {
    background-color: aqua;
    width : 50%;
    height : 100%;
    position : right;
}

*/

.leftP {
    display: inline-block;
    width : 35%;
    
}

.rightP {
    display : inline-block;
    
}

p {
    padding : 20px;
}

.box {
    text-align: center;
}

#headline {
    
    font-size: 48px;
    margin-top : 20px;
    margin-bottom: 5px;
}

.first {
    font-weight: bold;
}

a {
    text-decoration: none;
    color : black;
}

a:visited {
    text-decoration: none;
    color : black;
}